.bbcpageWhite,font.bbcpageWhite,a.bbcpageWhite,a.bbcpageWhite:link,a.bbcpageWhite:hover,a.bbcpageWhite:visited {padding:9px 4px;float:left;}

/*
     FILE ARCHIVED ON 10:01:43 Aug 16, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:41:55 Feb 26, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 394.785
  exclusion.robots: 131.889
  exclusion.robots.policy: 131.878
  xauthn.identify: 87.427
  xauthn.chkprivs: 44.105
  cdx.remote: 0.109
  esindex: 0.013
  LoadShardBlock: 132.751 (3)
  PetaboxLoader3.datanode: 176.993 (4)
  CDXLines.iter: 40.795 (3)
  load_resource: 171.452
  PetaboxLoader3.resolve: 96.256
*/